/* ============ Utilities ============ */
$green: #84bc22;
$dark: #262a32;
$blue: #3a5b96;
$beige: #e8e2d6;
$grey: #999999;
$darkgrey: #2d343a;
$brown: #45413e;

@font-face {
  font-family: 'myriad-pro';
  src: url('fonts/myriad_pro_regular.tff');
  font-weight: normal;
  font-style: normal;
}


/* ============ /Utilities ============ */
/* ============ General ============ */
body {
  font-family: 'Lato', 'myriad-pro', sans-serif;
}

main{
  background-color: $dark;
  margin-top: 7rem;
}

i {
  font-size: 1.5rem;
}


header ul li a{
  text-decoration: none;
  color: white;
}

.nav-link{
  color: $dark;
  font-size: 18px;  
}

.dropdown-grey{
  color: #b8b7b7;
}


footer{
  ul li a{
    text-decoration: none;
    color: #868380;
  }
  i{
    color: #868380;
  }
  .contact, .contact a{
    color: #45413e !important;
  }
  h6{
    color: #45413e;
  }
}



/* ============ /General ============ */

/* ============ DETAILS ============ */

.details{
  background-color: $brown;
  padding: 50px 0;
  .section-text{
    margin-left: 7%;
  }
}

/* ============ /DETAILS ============ */

/* ============ CAROUSEL ============ */

.carousel-container{
  background-color: white;
  padding-bottom: 50px;
}

.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-item {
  h5{
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 20%;
}
  p{
    font-size: 20px;
    margin-bottom: 10%;
  }
  button{
    margin-bottom: 5%;
    border-radius: 50rem;
  }
}

.carousel-next{
  color:#45413e;;
  button{
    margin-bottom: 5%;
    border-radius: 50rem;
    border-color: #3a5b96;
    color: #3a5b96;
    i{
      color: #3a5b96;
      margin-right: 10px;
    }
  }
}

/* ============ /CAROUSEL ============ */


/* ============ BANNER ============ */

.banner{
  position: relative;
  text-align: center;
  h2{
    font-size: 90px;
    font-weight: 900;
  }
  p{
    font-size: 18px;
  }
  img{
    width: 100%;
  }
  .text-block{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* ============ /BANNER ============ */

/* ============ DETAILS ============ */

.details{
  h4{
    font-size: 24px;
    font-weight: 700;
  }
  p{
    color: #868380;
  }
}

/* ============ /DETAILS ============ */

/* ============ POPULAR ITEMS ============ */

  .container-popular .row{
    color: $dark;
  }


/* ============ /POPULAR ITEMS ============ */

.btn-group .green {
  border-right: 1px solid #dee2e6 !important;
  color: $green;
}

.card_hover{
  position: relative;
}

.card_hover{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.card-gradient{
  position: relative;
}

.middle{
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  text-align: center;
  color: white;
  background-color: #33c879;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.green{
  color: $green;
}

.load-more{
  padding: 10px 15%;
}

.middle-gradient{
  opacity: 0.9;
  position: absolute;
  color: white;
  background: rgb(203,100,138);
  background: linear-gradient(176deg, rgba(203,100,138,1) 30%, rgba(98,85,134,1) 100%);  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.middle-gradient-text{
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.card_hover:hover .middle{
  opacity: 0.9;
}

.middle-center {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  .btn{
    margin: 0;
    padding: 0;
  }
  i{
    font-size: 40px;
    background-color: white;
    padding: 15px;
    border-radius: 50%;
  }
  .heart{
    color: red; 
    margin-left: 6px; 
  }
  .plus{
    color: $green;
  }
}

/* ============ FORM ============ */

form{
  .btn{
    background-color: $green;
    padding: 5px 50px;
    color: white;
  }
  form i {
    margin-left: -30px;
    cursor: pointer;
}
}

/* ============ /FORM ============ */



/* ============ FEATURED ============ */

.slider{
  p{
    color: $dark;
  }
  .green{
    color: $green;
    font-weight: 900;
  }
}

.arrows span{
    display: inline-block;
    vertical-align: middle;
}

.card{
  border: 0px;
}

.slick-track
{
    display: flex !important;
    margin: 0 -20px;
}

.slick-slide
{
    height: inherit !important;
    margin: 0 20px;
}

/* ============ /FEATURED ============ */


/* ============ Navbar ============ */

.navbar{
  z-index: 2000;
}

.logo_header {
  font-size: 42px;
  font-weight: 900;
  margin: 0;
  margin-bottom: -17px;
  color: #011847;
}

.logo_p {
  font-size: 24px;
  font-weight: 900;
  color: #84bc22;
  margin: 0;
}

.navbar .megamenu {
  padding: 1rem;
}

.megamenu{
  background-color: $dark;
}

.notification{
  position: relative;
  .badge{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 3px 5px;
    border-radius: 50%;
    border: $green 2px solid;
    color:$green;
  }
}


/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }

  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */
/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}
/* ============ mobile view .end// ============ */
/* ============ /Navbar ============ */
/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.scss.map */

// ================ 404 ====================
 
  .headline-404, .headline-popular{
    overflow: hidden;
  }

  #main-second{
    background-color: #f1edea;
    padding: 5rem 0;
    overflow: hidden;
   
    h2{
      font-weight: 900;
      font-size: 30px;
    }
    h1{
      font-weight: 900;
      font-size: 60px;
      color: $darkgrey;
    }
    a{
      text-decoration: none;
    }
  }
  
  #page-404{
    background-color: white;
    padding: 5rem 0;
  }
  .sorry{
    padding: 0 10%;
    
  }


.headlines span {
    display: inline-block;
    position: relative;  
    
}
.headlines span:before,
.headlines span:after {
  content: "";
  position: absolute;
  height: 50%;
  border-bottom: 3px groove #e5e2df4b;
  top: 0;
  width: 600px;
}
.headlines span:before {
  right: 100%;
  margin-right: 30px;
}
.headlines span:after {
  left: 100%;
  margin-left: 30px;
}

// ================ /404 ====================

// ================ Services ====================

#main-category, #main-product{
  padding-top: 5rem;
  background-color: #f1edea;
  overflow: hidden;
  margin-bottom: -25px;
  a{
    text-decoration: none;
  }
  color: $brown;
}

select.form-control {
  -webkit-appearance: menulist;
}

.form-check-input:focus{
  border: 2px solid black;
    box-shadow: none;
}

.form-check{
  margin: 0;
  .white{
    background: white;
  }
  .white:checked{
    background: white;
  }
  .cyan{
    background: cyan;
  }
  .cyan:checked{
    background: cyan;
  }
  
  .black{
    background: black;
  }
  .black:checked{
    background: black;
  }
  
  .green{
    background: green;
  }
  .green:checked{
    background: green;
  }
  
  .blue{
    background: blue;
  }
  .blue:checked{
    background: blue;
  }
  
  .orange{
    background: orange;
  }
  .orange:checked{
    background: orange;
  }
  
  .red{
    background: red;
  }
  .red:checked{
    background: red;
  }
  
  .beige{
    background: beige;
  }
  .beige:checked{
    background: beige;
  }
}

.form-check-input{
  padding: 0;
}

.load-more-second{
  background: $green;
  padding: 10px 15px;
}

.featured-second{
  background-color: $dark;
  padding: 3rem 0;
}

// ================ /Services ====================

// ================ PRODUCT ====================

  

  .nav-details{
    li{
      margin-bottom: 10px;
    }
    a{
      color: grey;
      margin: 20px;
      
    }
    a.active{
      background-color: $dark;
      color: white;
      padding: 20px 20px;
      margin: 0 10px;
    }
  }

  .tab-details{
    background-color: $dark;
    color: white;
    width: 100%;
    padding: 5rem;
  }

  #more {display: none;}

// ================ /PRODUCT ====================
